
body
  margin 0
  padding 0



td.list_thumbnail
  text-align center
  width 110px

div.list_thumbnail
  width 100px
  height 60px
  background black

td.list_title
  text-align left

div.list_title
  font-family Georgia
  font-size 24px


